body {
  font-family: Arial;
}
#output {
  width: 400px;
  height: 240px;
  padding: 10px;
  border: 1px solid #000000;
  margin-top: 20px;
}
.bgRed {
  background-color: red;
}
.bgGreen {
  background-color: green;
}
.bgBlue {
  background-color: blue;
}